@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Karla&family=Poppins&family=Yanone+Kaffeesatz&display=swap');


*{
    padding: 0;
    margin: 0;
}
:root{
    --primary-color: #0a090a;
    --secondary-color:#adb5bd;
    --text-color: white;
    --btn-color:#FB8500;
    --card-color:rgb(22, 22, 22);
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px var(--primary-color);
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: var(--card-color);
}

body{
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: 'Poppins';
    box-sizing: border-box;
}

.home{
    max-height: 100vh;
    display: flex;
}
.home .bar{
    width: 3%;
    height:85vh;
    padding: 2em;
    color: var(--text-color);
    display:grid;
    justify-content: space-between;

}
.home .bar i{
    font-size: 30px;
    margin-bottom: 2em;
    margin-left: -.5em;
    padding: .8em;
    border-radius: 1em;
}
.home .bar .menu img{
    width: 25px;
    margin-bottom: 1.5em;
    background-color: var(--primary-color);
    padding: .8em;
    border-radius: 1em;
}
.home .bar .menu .one{
    background-color: var(--btn-color);
    padding: .8em;
    border-radius: 1em;
}
.home .bar .bot{
    padding: .8em;
    border-radius: 1em;
    width: 25px;
    margin-top: 3em;
}
/*Left*/

.home .left{
    width: 100%;
    padding: 2em;
}
.home .left .top{
    display: flex;
    justify-content: space-between;
}
.home .left .top img{
    width: 20px;
}
.home .left .top .info .title{
    font-size: 20px;
    font-weight: 700;
}
.home .left .top .info .desc{
    font-size: 14px;
    color: var(--secondary-color);
}
.home .left .top .search input{
    border: 0;
    border-radius: 2em;
    background-color: var(--card-color);
    color: var(--text-color);
    padding: .9em 2em;
    width: 250px;
    margin-right: 2em;
    box-shadow: 5px 5px 5px var(--primary-color);
}
.home .left .top .search img{
    width:25px;
    margin-bottom: -.4em;
}
.home .left .top .search .ser{
    position: relative;
    margin-right: -15em;
    margin-bottom: -.4em;
    width: 20px;
}



/*Center*/

.home .center{
    margin: 1em;
    padding: 1.5em 2em;
    display: flex;
    justify-content: space-between;
    background-color: var(--card-color);
    border-radius: 2em;
    height: 50px;
}
.home .center .card:nth-child(2){
    padding: 1em;
    background-color: var(--btn-color);
    border-bottom-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    margin-top: -.7em;
    height: 45px;
}
.home .center .card h5{
    font-size: 13px;
    letter-spacing: .1em;
    margin-bottom: .5em;
    opacity: .5;
    font-weight: 550;
}

.home .dish{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 4em;
}
.home .dish .card {
    background-color: var(--card-color);
    padding: 1.5em;
    width: 220px;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 5em;
    border-top-right-radius: 2em;
    align-items: center;
    margin: 1.5em 1em;
    transition: .5s;
}
.home .dish .card:hover{
    transform: scale(1.1);
}
.home .dish .card p{
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1em;
    color: var(--btn-color);
    margin-bottom: .5em;
}
.home .dish .card h5{
    font-weight: 550;
    letter-spacing: .1em;
    text-align: left;
    margin-bottom: 1em;
}
.home .dish .card h6{
    text-align: left;
    opacity: .4;
}
.home .dish .card img{
    width: 150px;
    position: relative;
    margin-top: -5em;
    transition: .5s;
    
}
.home .fo-text{
    display: flex;
    justify-content: space-between;
    margin: 3em 2em;
}
.home .fo-text h3{
    font-size: 25px;
}
.home .fo-text p{
    font-size: 40px;
    margin-top: -.6em;
    color: var(--btn-color);
}

.home .healthy{
    display: flex;
    justify-content: space-between;
    margin: 2em 1.5em;
}
.home .healthy .card{
    display: flex;
    border-radius: 2em;
    padding: .5em 1em;
    box-shadow: 5px 5px 5px rgb(5, 5, 5);
}
.home .healthy .card img{
    width: 20px;
    margin-right: .5em;
}

/*Right*/

.home .righto{
    width: 45%;
    height: 95vh;
    background-color: var(--card-color);
    padding: 2em;
    padding-bottom: 0;
    text-align: center;
}
.home .righto .top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
.home .righto .top p{
    color: var(--text-color);
    font-size: 30px;
    margin-top: -.5em;
    
}
.home .righto .user{
    margin: .5em 0;
    margin-bottom: 0;
    font-size: 20px;
}
.home .righto .desc{
    margin: 1em 0;
    margin-top: 0;
    font-size: 14px;
    color: var(--secondary-color);
    opacity: .4;
}
.home .righto img{
    width: 100px;
}
.home .righto button{
    border: 0;
    background-color: var(--btn-color);
    border-radius: 1.5em;
    padding: 1em;
    color: var(--text-color);
    font-weight: 550;
    cursor: pointer;
}
.home .righto button img{
    width: 15px;
    margin-right: .5em;
}

.home .righto .calen .one{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
.home .righto .calen .one img{
    width: 20px;
    margin-left: 1em;
    transition: .5s;
}
.home .righto .calen .one img:nth-child(1){
    width: 20px;
    margin-left: 1em;
    transform: rotate(180deg);
    transition: .5s;
}
.home .righto .calen .one img:hover{
    transform: scale(1.5);
}
.home .righto .calen .days{
    display: flex;
    justify-content: space-between;
    margin: 2em 1em;
    color: var(--secondary-color);
} 
.home .righto .calen .dayn{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    font-weight: 600;
} 
.home .righto .calen .dayn p{
    border-radius: 50%;
    padding: .2em .5em;
    transition: .5s;
    cursor: pointer;
}
.home .righto .calen .dayn p:hover{
    background-color: var(--btn-color);
}
.home .righto .calen .dayn p:nth-child(4){
    background-color: var(--btn-color);
    border-radius: 50%;
    padding: .2em .5em;
}
.home .righto .amis{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin-top: 1em;
}
.home .righto .amis .time{
    font-size: 18px;
    margin-top: .2em;
}
.home .righto .amis .mod{
    font-size: 40px;
    margin-top: -.3em;
    color: var(--btn-color);
}
.home .righto .amis .info .t1{
    font-size: 14px;
    color: var(--secondary-color);
    opacity: .6;
}
.home .righto .amis .info .t2{
    font-size: 14px;
}
.home .righto .amis img{
    width: 40px;
    height: 40px;
}

.home .righto .amis .plus{
    position: relative;
    margin-top: .5em;
}