@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Karla&family=Poppins&family=Yanone+Kaffeesatz&display=swap');


*{
    padding: 0;
    margin: 0;
}
:root{
    --primary-color: #0a090a;
    --secondary-color:#adb5bd;
    --text-color: white;
    --btn-color:#FB8500;
    --card-color:rgb(22, 22, 22);
}

body{
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: 'Poppins';
    box-sizing: border-box;
}

.home{
    max-height: 100vh;
    display: flex;
}
.home .bar{
    width: 3%;
    height:85vh;
    padding: 2em;
    color: var(--text-color);
    display:grid;
    justify-content: space-between;

}
.home .bar i{
    font-size: 30px;
    margin-bottom: 2em;
    margin-left: -.5em;
    padding: .8em;
    border-radius: 1em;
}
.home .bar .menu img{
    width: 25px;
    margin-bottom: 1.5em;
    background-color: var(--primary-color);
    padding: .8em;
    border-radius: 1em;
}
.home .bar .menu .one{
    background-color: var(--btn-color);
    padding: .8em;
    border-radius: 1em;
}
.home .bar .bot{
    padding: .8em;
    border-radius: 1em;
    width: 25px;
    margin-top: 3em;
}
/*Left*/

.home .left{
    width: 75%;
    padding: 2em;
}
.home .left .top{
    display: flex;
    justify-content: space-between;
}
.home .left .top img{
    width: 20px;
}
.home .left .top .info .title{
    font-size: 20px;
    font-weight: 700;
}
.home .left .top .info .desc{
    font-size: 14px;
    color: var(--secondary-color);
}
.home .left .top .search input{
    border: 0;
    border-radius: 2em;
    background-color: var(--card-color);
    color: var(--text-color);
    padding: .9em 2em;
    width: 250px;
    margin-right: 2em;
    box-shadow: 5px 5px 5px var(--primary-color);
}
.home .left .top .search img{
    width:25px;
    margin-bottom: -.4em;
}
.home .left .top .search .ser{
    position: relative;
    margin-right: -15em;
    margin-bottom: -.4em;
    width: 20px;
}

/*Right*/
.home .right{
    width: 40%;
}

/*Center*/
.home .center{
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}
.home .center .static{
    width: 400px;
    text-transform: uppercase;
    height: 230px;

}
.home .center .static{
    background-color: var(--card-color);
    padding: 2em;
    border-radius: 2em;
    box-shadow: 5px 5px 5px var(--primary-color);
}
.home .center .static h3{
    margin-bottom: .5em;
}
.home .center .static .scroll{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 .5em;
}
.home .center .static .scroll p{
    padding: .5em 1em;
    background-color: var(--card-color);
    box-shadow: 5px 5px 5px var(--primary-color);
    border-radius: 1em
}
.home .center .static .scroll p:nth-child(2){
    padding: .5em 1em;
    background-color: var(--btn-color);
    box-shadow: 5px 5px 5px var(--primary-color);
    border-radius: 1em
}
.home .center .static img{
    width: 150px;
}
.home .center .static .days{
    display: flex;
    justify-content: space-between;
}

.hrs{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: -10em;
}
.hrs hr{
    border: .5px solid var(--secondary-color);
    height: 100px;
    opacity: .1;
    margin: .5em 0;
}

.home .center .cards .card{
    background-color: var(--card-color);
    padding: 1em;
    margin-left: 2em;
    display: flex;
    margin-bottom: 1em;
    width: 330px;
    border-radius: 2em;
    box-shadow: 5px 5px 5px var(--primary-color);
    transition: .5s;
}
.home .center .cards .card:hover{
    transform: scale(1.1);
}
.home .center .cards .card img{
    width: 40px;
    height: 40px;
    margin-right: 2em;
}
.home .center .cards .card .info h3{
    font-weight: 500;
}
.home .center .cards .card .info p{
    color: var(--secondary-color);
    font-size: 14px;
    opacity: .5;
    margin-top: .5em;
}


/*Bottom*/
.home .bottom{
    display: flex;
}
.home .bottom .cards{
    background-color: var(--card-color);
    padding:  1em .5em;
    border-radius: 2em;
    width: 55%;
    box-shadow: 5px 5px 5px var(--primary-color);
}
.home .bottom .cards .card h3{
    font-weight: 500;
}
.home .bottom .cards .card p{
    font-weight: 550;
    color: var(--secondary-color);
    opacity: .6;
}
.home .bottom .cards .card{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: -1.8em;
    margin-top: -1em;
}
.home .bottom .cards .card .left{
    display: flex;
}
.home .bottom .cards .card .left img{
    width:70px;
    border-radius: 1em;
    margin-right: 1em;
}
.home .bottom .cards .card .ht{
    width: 20px;
    height: 20px;
    margin-top: 3em;
    margin-right: 2em;
    transition: .5s;
}
.home .bottom .cards .card .ht:hover{
    transform: scale(1.5);
}

/*Msg*/
 
.home .bottom .msg{
    background-color: var(--card-color);
    padding: 1em;
    box-shadow: 5px 5px 5px var(--primary-color);
    border-radius: 2em;
    margin: 0 3em;
    margin-right: 0;
    width: 350px;
    height: 250px;
}
.home .bottom .msg .top h3{
    margin-left: 1em;
}
.home .bottom .msg .top a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 13px;
    margin-top: .5em;
}
.home .bottom .msg img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.home .bottom .msg .cent{
    margin-top: -1em;
}
.home .bottom .msg .left .info{
    position: relative;
    margin-right: 2em;
}
.home .bottom .msg .left .info .title{
    font-size: 14px;
}
.home .bottom .msg .left .info .desc{
    font-size: 12px;
    color: var(--secondary-color);
    opacity: .7;
}
.home .bottom .msg .card{
    display: flex;
    justify-content: space-between;
}
.home .bottom .msg .card:nth-child(2){
    margin-top:-2em ;
}
.home .bottom .msg .card:nth-child(3){
    margin-top:-2em ;
}
.home .bottom .msg .card .left{
    display: flex;
    justify-content: space-between;
}
.home .bottom .msg .right{
    margin-top: 2em;
    position: relative;
    margin-right: -5.5em;
}
.home .bottom .msg .right p{
    font-size: 12px;
    color: var(--secondary-color);
    opacity: .7;
}
.home .bottom .msg .right span{
    font-size: 12px;
    margin-left: .2em;
    background-color: var(--btn-color);
    padding: .2em .6em;
    border-radius: 50%;
}

/*Right*/

.home .righto{
    width: 50%;
    height: 95vh;
    background-color: var(--card-color);
    padding: 2em;
    padding-bottom: 0;
    text-align: center;
}
.home .righto .top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
.home .righto .top p{
    color: var(--text-color);
    font-size: 30px;
    margin-top: -.5em;
    
}
.home .righto .user{
    margin: .5em 0;
    margin-bottom: 0;
    font-size: 20px;
}
.home .righto .desc{
    margin: 1em 0;
    margin-top: 0;
    font-size: 14px;
    color: var(--secondary-color);
    opacity: .4;
}
.home .righto img{
    width: 100px;
}
.home .righto button{
    border: 0;
    background-color: var(--btn-color);
    border-radius: 1.5em;
    padding: 1em;
    color: var(--text-color);
    font-weight: 550;
    cursor: pointer;
}
.home .righto button img{
    width: 15px;
    margin-right: .5em;
}

.home .righto .calen .one{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
.home .righto .calen .one img{
    width: 20px;
    margin-left: 1em;
    transition: .5s;
}
.home .righto .calen .one img:nth-child(1){
    width: 20px;
    margin-left: 1em;
    transform: rotate(180deg);
    transition: .5s;
}
.home .righto .calen .one img:hover{
    transform: scale(1.5);
}
.home .righto .calen .days{
    display: flex;
    justify-content: space-between;
    margin: 2em 1em;
    color: var(--secondary-color);
} 
.home .righto .calen .dayn{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    font-weight: 600;
} 
.home .righto .calen .dayn p{
    border-radius: 50%;
    padding: .2em .5em;
    transition: .5s;
    cursor: pointer;
}
.home .righto .calen .dayn p:hover{
    background-color: var(--btn-color);
}
.home .righto .calen .dayn p:nth-child(4){
    background-color: var(--btn-color);
    border-radius: 50%;
    padding: .2em .5em;
}
.home .righto .amis{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin-top: 1em;
}
.home .righto .amis .time{
    font-size: 18px;
    margin-top: .2em;
}
.home .righto .amis .mod{
    font-size: 40px;
    margin-top: -.3em;
    color: var(--btn-color);
}
.home .righto .amis .info .t1{
    font-size: 14px;
    color: var(--secondary-color);
    opacity: .6;
}
.home .righto .amis .info .t2{
    font-size: 14px;
}
.home .righto .amis img{
    width: 40px;
    height: 40px;
}

.home .righto .amis .plus{
    position: relative;
    margin-top: .5em;
}